body
{
	background-color: black;
}
.square
{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin:1.66%;
}
.container
{
	max-width:400px;
	margin:0 auto;
}


#strip{
	background: white;
	height=30px;
	text-align: center;
}

.selected{
	background: blue;
}

